article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


html{
  font-size: 125%;
  padding: 0;
  margin: 0;
  font-family: 'Ribeye', cursive;
    font-family: 'Raleway', sans-serif;
}
body{
  background:#7eb9bd;
  background-image: url('./food.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
h1, h2, h3, h4, a, button, p, ul, li {
  margin: 0;
  padding: 0;

}
h1{
  font-family: 'Ribeye', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.8rem;
  color: #157b3b;
  text-shadow: 2px 2px  #F68929;
}
h2{
   font-family: 'Ribeye', cursive;
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
  color:navy;
  text-shadow:  2px 2px  #F68929;
}

h3{
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
    width: calc(70% - 10px);
    color: #157b3b;
    
}

h4{
   font-family: 'Raleway', sans-serif;
   font-size: .8rem;
    color: #157b3b;
    
}
p, button{
  font-family: 'Raleway', sans-serif;
   font-size: .8rem;
}
a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 700;
}

.Wrapper{
  width:  1240px;
  max-width: 80%;;
  min-width: 320px;
  margin: 0 auto;
}

.App-header {
  background-image: url('./sky.svg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.Logo{
  width: 100%;
}
.Form-header{
display: flex;
justify-content: center;

} 
.Input{
  width: 40%;
  margin: 10px;
  height: 40px;
  border-radius: 20px;
  border: none;
  text-align: center;
}

form button{
  width: 20%;
  margin: 10px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #F68929;
  color: #157b3b;
  font-size: 70%;
}

button:hover{
  background:#157b3b ;
  color: #F68929;
   box-shadow: 2px 3px 2px 2px rgba(0,0,0,0.5);
}

::placeholder{
  text-align: center;
  color: #157b3b;
  font-size: 1rem;
}
input[type="text"]{
    font-size:60%;
    color: #157b3b;
}

.Search {
  display: flex;
  flex-wrap: wrap;
  
}

.Results {
  background:#b5cadf;
  margin: 10px;
  border-radius: 10px;
  width: calc(100% /3 - 20px);
 position: relative;
}
.Title-rating{
display: flex;
justify-content: space-between;
margin: 10px;
}

.Details {
  margin: 0 5px;
  margin-bottom: 60px;

}
.Type{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.Info-button{
margin: 10px auto;
padding: 5px 20px;
border-radius: 10px;
background: #F68929;
color: #157b3b;
border: none;
font-size: 80%;
position: absolute;
left: 50%;
bottom:0%;
transform: translate(-50%, -0%);
}
.Cost {
  padding: 10px 0;
  color: navy;
}
.Results-title h2{
  text-align: center;
}
.Man{
  position: absolute;
  width: 30%;
 left:15px;
 bottom: 0%;

}
.Top{
  text-align: right;
  margin-bottom: 20px;
}
.Icon{
  margin-left: 10px; 

}
.Footer {
 background-color: #2eaaff;
 height: 5vh;
}
.Footer h4 {
  text-align: center;
  padding: 5px;
}
@media (max-width: 1300px){
  h2{
    font-size: 2.3rem;
  }
  .Results{
    width: calc(100% /2 - 20px);
  }
  .Details{
    text-align: center;
  }

}
@media (max-width: 1150px) {
  h1{
    font-size: 5rem;
  }
}
@media (max-width: 950px){
  h1{
    font-size: 4.2rem;
  }
  .Man{
    width: 35%;
  }
}
@media (max-width: 850px){
  .Results{
    width: calc(100% - 20px);
    margin: 10px auto;
  }
   h2{
    font-size: 1.8rem;
  }
  body{
      background-size: contain;
  }
}
@media (max-width: 750px){
  h1{
    font-size: 3rem;
  }
  .Input{
    width: 60%;
  }
  form button {
    width: 40%;
  }
  header p{
   font-size: .7rem;
   padding: 15px;
   text-align: center;
  }
   .Man{
    width: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  ::placeholder{
    font-size: .7rem;
  }
}
@media (max-width: 550px){
  h1{
    font-size: 2.5rem;
  }
  .Input{
    width: 70%;
    height: 30px;
  }
  form button {
    width: 30%;
    height: 30px;
    font-size: 50%;
  }
  h2{
    font-size: 1.5rem;
  }
   .Man{
    width: 55%;
   }
   
}
@media (max-width: 400px){
  .Man{
    width: 65%;
   }
   .Input{
    width: 50%;
  }
  form button {
    width: 30%;
    margin-left: 3px;
  }

}